<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <h3 class="card-title">¿Donde comemos?</h3>
          </div>
          <form class="form-group">
            <div class="row">
              <div class="col-12">
                <!-- Row -->
                <div class="row">
                  <!-- column -->

                  <div class="col-lg-3">
                    <!-- Card -->
                    <div class="card">
                      <img
                        class="card-img-top img-responsive"
                        src="assets/img/alas1.png" 
                        alt="Card image cap"
                      />
                      <div class="card-body">
                        <h4 class="card-title">Alas Doradas</h4>
                        <button class="btn btn-primary" (click)="mover()">
                          Seleccionar
                        </button>
                      </div>
                    </div>
                    <!-- Card -->
                  </div>
                  <!-- column -->
                  <!-- column -->
                  <div class="col-lg-3">
                    <!-- Card -->
                    <div class="card">
                      <img
                        class="card-img-top img-responsive"
                        src="assets/img/chips.jpg"
                        alt="Card image cap"
                      />
                      <div class="card-body">
                        <h4 class="card-title">Chips</h4>
                        <button class="btn btn-primary" (click)="mover()">
                          Seleccionar
                        </button>
                      </div>
                    </div>
                    <!-- Card -->
                  </div>
                  <!-- column -->
                  <div class="col-lg-3">
                    <!-- Card -->
                    <div class="card">
                      <img
                        class="card-img-top img-responsive"
                        src="assets/img/kankor.png"
                        alt="Card image cap"
                      />
                      <div class="card-body">
                        <h4 class="card-title">Pizzeria</h4>
                        <button class="btn btn-primary" (click)="mover()">
                          Seleccionar
                        </button>
                      </div>
                    </div>
                    <!-- Card -->
                  </div>
                  <!-- column -->
                  <div class="col-lg-3">
                    <!-- Card -->
                    <div class="card">
                      <img
                        class="card-img-top img-responsive"
                        src="assets/img/kankor.png"
                        alt="Card image cap"
                      />
                      <div class="card-body">
                        <h4 class="card-title">Kankor</h4>
                        <button class="btn btn-primary" (click)="mover()">
                          Seleccionar
                        </button>
                      </div>
                    </div>
                    <!-- Card -->
                  </div>
                </div>
                <!-- Row -->
              </div>
            </div>
            <!-- End Row -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
