<form
  class="form-group"
  [formGroup]="nuevoForm"
  (ngSubmit)="agregar(nuevoForm.value)"
>
  <div class="card-header card-header-success">
    <h5 class="card-title">Datos Nuevo Usuario</h5>
  </div>
  <br />
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <label style="font-style: normal; font-size: 18px"
        >Número de Cédula</label
      >
    </div>
    <div class="col-md-6">
      <input
        type="text"
        class="form-control"
        placeholder="Ej. 1003770599"
        formControlName="cedula"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <label style="font-style: normal; font-size: 18px">Nombre Completo</label>
    </div>
    <div class="col-md-6">
      <input
        type="text"
        class="form-control"
        placeholder="Ej. Wilmer Alexander Ojeda Escobar"
        formControlName="nombres"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <label style="font-style: normal; font-size: 18px"
        >Número de Teléfono</label
      >
    </div>
    <div class="col-md-6">
      <input
        type="text"
        class="form-control"
        placeholder="Teléfono ejemplo (+593)987984305"
        formControlName="telefono"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <label style="font-style: normal; font-size: 18px"
        >Dirección de Domicilio</label
      >
    </div>
    <div class="col-md-6">
      <input
        type="text"
        class="form-control"
        placeholder="Ej. Chorlavi Casa 6-73"
        formControlName="direccion"
      />
    </div>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <label style="font-style: normal; font-size: 18px"
        >Seleccione Rol de Usuario</label
      >
    </div>
    <div class="col-md-6">
      <select class="form-control" formControlName="id_rol">
        <option>Seleccione un rol para el usuario</option>
        <option *ngFor="let tipo of tiposUser" value="{{ tipo.id_rol }}">{{ tipo.nombre_rol }}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <label style="font-style: normal; font-size: 18px">Ingrese Local</label>
    </div>
    <div class="col-md-6">
      <select class="form-control" formControlName="id_local">
        <option value="Seleccion">Seleccione un local</option>
        <option *ngFor="let local of locales" value="{{local.id_local}}">{{ local.nombre_local }}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <label style="font-style: normal; font-size: 18px">Usuario</label>
    </div>
    <div class="col-md-6">
      <input
        type="text"
        class="form-control"
        placeholder="Usuario"
        formControlName="email"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <label style="font-style: normal; font-size: 18px">Contraseña</label>
    </div>
    <div class="col-md-6">
      <input
        type="password"
        class="form-control"
        placeholder="Contraseña"
        formControlName="password"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <label style="font-style: normal; font-size: 18px"
        >Ingrese Estado actual del usuario</label
      >
    </div>
    <div class="col-md-6">
      <select class="form-control" formControlName="estado">
        <option>Seleccione el estado del Usuario</option>
        <option value="A">Activo</option>
        <option value="I">Inactivo</option>
      </select>
    </div>
  </div>
  <button mat-raised-button type="submit" class="btn btn-success pull-right">
    Agregar Usuario
  </button>
  <div class="clearfix"></div>
</form>
